{% extends 'base.html' %}

{% block content %}

<table class='table'>
    {% if cart.active %}
    <head><th>Item</th><th>Description</th><th>Item Price</th><th>Quantity</th><th>Total</th></head>
{% for item in cart %}
<tr><td>{{ item }}</td><td>{{ item.product.description }}</td><td> {{ item.product.price }} </td><td>{{ item.quantity }}</td></tr>
{% endfor %}
<tr></tr>
<tr></tr>
<tr></tr>
<tr><td></td><td></td><td></td></tr>
<tr><td></td><td>Cart Total</td><td>{{ cart.total }}</td></tr>
</table>

<br>
<a href='delete' class='btn'>Delete Cart</a> <a href='/checkout' class='btn'>Checkout</a>
{% else %}
{{ message }}
{% endif %}
{% endblock %}
