{% extends 'base.html' %}

{% block content %}
        <div class='span12'></div>
<div class="jumbotron">
        {% if user.is_authenticated %} <h3> Hello {{ user.first_name }}</h3> {% endif %}
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Get started today</a>
      </div>
{% endblock %}
